<div class="container">
    <h1><%= title %></h1>
    <img src="./Assets/images/me.jpeg" alt=""><br><br>
    <p>My name is <b>Yuen Ting Leung</b>, all my friends and colleagues also call me <i>Kennix</i>. I was born and raised in Hong Kong and just came to Canada in 2021. I graduated from a bachelor degree in Accountancy and Finance and I am currently a member of both CPA Ontario & ACCA.</p>
    <p>I have over 10 years working experience on accounting fields, including financial account, reporting and financial analysis. Now I am studying a diploma of Software Engineering Technician in Centennial College. I believe my knowledge from my further study could be integrated with my accounting knowledge and experience which could be benefited for my career here.</p>
    <a href="https://centennialcollegeedu-my.sharepoint.com/:b:/g/personal/yleung33_my_centennialcollege_ca/EfbX626VphFKvXvpEzmonVkBjyU6So1GgnX6SNL3hkXSyg?e=nXOESv">My Resume</a>
    <br><br>
    <a href="/home">Back to Home</a>
</div>