<div class="container">
    <h1><%= title %></h1>
    <p>Please feel free to contact me via:</p>
    <ul>
        <li><a href="mailto:yleung33@my.centennialcollege.ca">Email</a></li>
        <li>Mobile: +1 (437) 775-0685</li>
        <li><a href="https://www.linkedin.com/in/kennixleung/">LinkedIn</a></li>
    </ul>
    <h4>Send me a message</h4>
    <form>
        <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
          </div>
        <br>
         <div class="row">
          <div class="col">
            <input type="tel" class="form-control" placeholder="Phone number" aria-label="Phone number">
          </div>
          <div class="col">
            <input type="email" class="form-control" placeholder="Email address" aria-label="Email address">
          </div>
        </div>
        <br>
        <div class="mb-3">
          <textarea class="form-control" rows="7" placeholder="Message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" href="mailto:yleung33@my.centennialcollege.ca">Submit</button>
      </form>
      <br>
    <a href="/home">Back to Home</a>
</div>