<div class="container">
    <h1><%= title %></h1>
    <br><br>
    <h4>Welcome to My Portfolio Website!</h4>
    <p>Here is my first personal portfolio website. In this website, you would know about my background, experiences and the services I provided. If you have any comments on my portfolio website or want to leave me an message, you can contact me via the "Contact Me" page (you can find the link below or on the header bar).</Menu></p>
    
    <h4>Mission Statement</h4>
    <p>To simply the working process with automation, virtualize both financial and non-financial information and promote company's products or services by using technologies, knowledge and experiences I have.</p>
    <br>

    <h4>Let's start!</h4>
    <ul>
        <li><a href="/about">About Me</a></li>
        <li><a href="/projects">My Projects</a></li>
        <li><a href="/services">My Services</a></li>
        <li><a href="/contact">Contact Me</a></li>
    </ul>
</div>