<div class="container">
    <h1><%= title %></h1>
    <p>Below are the projects I have done before (during studying or my past jobs) or is currently processing. You may find some images with low quality as the information of such images are confidential.</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Services</th>
                    <th scope="col">Projects</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><img src="./Assets/images/Current_project.png" alt="" srcset="" width="360" height="240"></td>
                    <td>Current Project - Web Development (Portfolio Website)<br>
                        <br>
                        - My role: Build all contents and design the webpage theme
                        <br><br>
                        <p>- Outcome: Design my own portfolio on web to show all my background and experiences.</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td><img src="./Assets/images/WebDev_project.png" alt="" srcset="" width="360" height="240"></td>
                    <td>Past Project - Web Development (Restaurant info with location)<br>
                        <br>
                        - My role: Build a login access to show restaurant information with the map location attached.
                        <br><br>
                        <p>- Outcome: Users can input their login account, then the restaurant information will show on next page. Here is an image of the restaurant and it will be opened its official website by clicking the image. Also, a google map with showing the location of restaurant.</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><img src="./Assets/images/GeneralProg_project.png" alt="" srcset="" width="360" height="240"></td>
                    <td>Past Project - General Programming (Expense Tracker)<br>
                        <br>
                        - My role: Build an expense tracker
                        <br><br>
                        <p>- Outcome: Users can input each expense transaction, then the tracker can log the record and display the total spending.</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td><img src="./Assets/images/FinancialAnalysis_project.png" alt="" srcset="" width="360" height="240"></td>
                    <td>Past Project - Financial Analysis (Financial Database)<br>
                        <br>
                        - My role: Analysis financial information of products
                        <br><br>
                        <p>- Outcome: Build an internal database for financial analysis use to perform comparatives information and predictive sales performance with Marco-enabled functions. All analysis will be virtualized to a chart for management easier understanding.</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td><img src="./Assets/images/Management_project.png" alt="" srcset="" width="360" height="240"></td>
                    <td>Past Project - Management Reporting (Dashboard of Sales Performance)<br>
                        <br>
                        - My role: To show the sales performance of current products
                        <br><br>
                        <p>- Outcome: Build a dashboard to virtualize the sales performance for management easier understanding. Customize the dashboard with the needs of the business when the team leads must explain the performance to senior management during sales meeting.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/home">Back to Home</a>
</div>