<div class="container">
    <h1><%= title %></h1>
    I can provide you a list of accounting and IT services.<br><br>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Accounting Services</th>
                <th scope="col">IT Services</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><img src="./Assets/images/bookkeeping.jpeg" alt="" srcset="" width="200" height="120"> Bookkeeping</td>
                <td><img src="./Assets/images/program.jpeg" alt="" srcset="" width="200" height="120"> General Programming</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><img src="./Assets/images/accounting.jpeg" alt="" srcset="" width="200" height="120"> Financial Accounting and Reporting</td>
                <td><img src="./Assets/images/webDev.jpeg" alt="" srcset="" width="200" height="120"> Web Development</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td><img src="./Assets/images/management.png" alt="" srcset="" width="200" height="120"> Management Accounting and Reporting</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td><img src="./Assets/images/financialanalysis.jpeg" alt="" srcset="" width="200" height="120"> Financial Analysis</td>
                <td></td>
              </tr>
            </tbody>
          </table>
    
        <a href="/home">Back to Home</a>
</div>